<mat-toolbar id="titulo" class='title'>
  <span>Slicer 3d</span>
</mat-toolbar>

<mat-toolbar class='navBar'>
  <mat-toolbar-row>
    <span class='example-spacer'> </span>
    <button mat-button>Products</button>
    <button mat-button>Sales</button>
    <button mat-button>Categories</button>
    <button mat-button onclick="location.href='/login'">Log In</button>
    <span class="material-symbols-rounded">
      Login
    </span>
    <button mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar-row>
