<nav class="navbar">
  <div>
    <a class="logo" routerLink="/"><img class="img-logo" src="/assets/img/slicer_logo.jpg" alt="img"></a>
    <a class="title" routerLink="/">Slicer</a>
  </div>
    <ul class="nav-links">
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/sales">Sales</a></li>
      <li><a routerLink="/categories">Categories</a></li>
      <li><a routerLink="/login_sign_up">Login</a></li>
      <li><a routerLink="/cart"><img class="img-cart" src="/assets/img/cart_img.png" alt="img"></a></li>
    </ul>

</nav>
