<mat-grid-list cols="3" rowHeight="5:4">
  <mat-grid-tile>
    <div class="text-container">
      <img class="img" src="/assets/img/imagen (1).jpg"/>
      <h2>Aircraft</h2>
      <p>Description: </p>
      <h3>$5.000</h3>
      <h2>Material: Resin</h2>
    </div>
    
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-container">
    <img class="img" src="/assets/img/imagen (2).jpg"/>
    <h2>Tie Fighter</h2>
    <p>Description: </p>
    <h3>$15.000</h3>
    <h2>Material: Plastic</h2>
  </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-container">
      <img class="img" src="/assets/img/imagen (3).jpg"/>
      <h2>Club Logo</h2>
      <p>Description: </p>
      <h3>$2.000</h3>
      <h2>Material: Plastic</h2>
    </div>

  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-container">
      <img class="img" src="/assets/img/imagen (4).jpg"/>
      <h2>Skull</h2>
      <p>Description: </p>
      <h3>$20.000</h3>
      <h2>Material: Resin</h2>
    </div>
    
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-container">
      <img class="img" src="/assets/img/imagen (5).jpg"/>
      <h2>Joystick Stand</h2>
      <p>Description: </p>
      <h3>$5.000</h3>
      <h2>Material: Plastic</h2>
    </div>
    
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-container">
      <img class="img" src="/assets/img/3d_atat_microfighter.png"/>
      <h2>AT-AT Microfighter</h2>
      <p>Description</p>
      <h3>$6.000</h3>
      <h2>Material: Plastic</h2>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="5:4">
  <mat-grid-tile>
    <div class="text-container">
      <img class="img" src="/assets/img/3d_nave.png"/>
      <h2>Spacecraft</h2>
      <p>Description: </p>
      <h3>$30.000</h3>
      <h2>Material: Resin</h2>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-container">
    <img class="img" src="/assets/img/3d_mano_frankestein.png"/>
    <h2>Frankestein Hand</h2>
    <p>Description: </p>
    <h3>$10.000</h3>
    <h2>Material: Resin</h2>
  </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-container">
      <img class="img" src="/assets/img/3d_copa_mundial.png"/>
      <h2>World Cup</h2>
      <p>Description</p>
      <h3>$15.000</h3>
      <h2>Material: Resin</h2>
    </div>
  </mat-grid-tile>
 <!---- <mat-grid-tile>
    <div class="text-container">
      <img class="img" src="/assets/img/billetera 4.jpeg"/>
      <h2>Lavander Haze</h2>
      <p>Descripcion</p>
      <h3>$13.000</h3>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-container">
      <img class="img" src="/assets/img/billetera 5.jpg"/>
      <h2>Thank you, next</h2>
      <p>Descripcion</p>
      <h3>$22.000</h3>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-container">
      <img class="img" src="/assets/img/billetera 6.jpg"/>
      <h2>RED</h2>
      <p>Descripcion</p>
      <h3>$16.000</h3>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="5:4">
  <mat-grid-tile>
    <div class="text-container">
      <img class="img" src="/assets/img/riñonera 1.jpg"/>
      <h2>Ghostin</h2>
      <p>Descripcion</p>
      <h3>$32.000</h3>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-container">
    <img class="img" src="/assets/img/riñonera 2.jpg"/>
    <h2>Style</h2>
    <p>Descripcion</p>
    <h3>$38.000</h3>
  </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-container">
      <img class="img" src="/assets/img/riñonera 3.jpg"/>
      <h2>Epiphany</h2>
      <p>Descripcion</p>
      <h3>$28.000</h3>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-container">
      <img class="img" src="/assets/img/riñonera 4.jpg"/>
      <h2>Nonsense</h2>
      <p>Descripcion</p>
      <h3>$35.000</h3>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-container">
      <img class="img" src="/assets/img/riñonera 5.jpg"/>
      <h2>Needy</h2>
      <p>Descripcion</p>
      <h3>$37.000</h3>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-container">
      <img class="img" src="/assets/img/riñonera 6.jpg"/>
      <h2>Moonlight</h2>
      <p>Descripcion</p>
      <h3>$40.000</h3>
    </div>
  </mat-grid-tile>-->
</mat-grid-list>